*{
    margin: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header style start */
header{
    height: 845px;
    background-color: #FFF8F3;
    background-image: url(../assets/images/developer.png), url(../assets/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: 45px center, bottom right;
}

/* nav bar style start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 225px 0px 195px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul > li{
    margin: 25px;
}

.primary-color{
    color: #FD6E0A
}

.primary-btn{
    height: 45px;
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 21px;
    border-radius: 4px;
    padding: 8px 25px 10px;
}
/* nav bar style end */

/* banner style start */
.banner{
    display: flex;
    padding: 40px 0px 0px 195px;
}

.banner-content{
    padding-top: 145px;
}

.banner-content h3{
    color: rgb(65, 64, 64);
    font-weight: 600;
    font-size: 45px;
}

.banner-content h2{
    font-weight: 1200;
    font-size: 72px;
}

.banner-content p{
    font-size: 17px;
}

.text-color{
    color: #757575;
}

.hardy-img{
    margin-left: auto;
    margin-right: 41px;
}

.download-btn{
    font-size: 13px;
}

.contact-btn{
    color:#FD6E0A;
    background-color: #FFF8F3;
    font-size: 13px;
    border: 1.5px solid #FD6E0A;
}

.banner-content button{
    margin-right: 21px;
}/* banner style end */
/* header style end */

/* about and skill section style start */
.basic-section-design{
    width: 1145px;
    height: 550px;
    background-color: #faeadd;
    margin: 175px auto;
    border-radius: 15px;
}

#about, #skill>h1{
    padding-top: 91px;
    text-align: center;
    font-weight: 1200;
    font-size: 45px;
}

.basic-text-design{
    font-weight: 700;
    font-size: 21px;
}

#about-text, #skill-text{
    padding: 45px 125px 57px 145px;
}

#info{
    display: flex;
    justify-content: space-between;
    padding: 0px 149px 0px 105px;
}

#info ul{
    list-style: none;
}

#skill{
    height: 625px;
    background-color: white; 
}

#skill > h1{
    padding-top: 0px;
}

#skill-card{
    display: flex;
    justify-content: space-between;
}

.basic-card-design{
    width: 267px;
    height: 377px;
    box-sizing: border-box;
    border-radius: 9px;
    box-shadow: 7px 7px 10px #FD6E0A;
    padding: 35px;
}

.basic-card-design h1{
    padding: 25px 0px 31px;
}
/* about and skill section style end */

/* resume section style start */
#resume-heading{
    text-align: center;
    font-weight: 1200;
    font-size: 45px;
}

#resume{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin-top: 105px;
}

#education>h1{
    font-size: 31px;
    padding-bottom: 15px;
}

.basic-resume-design h3, p{
    padding-bottom: 25px;
}

#experience>h1{
    font-size: 31px;
    padding-top: 0px;
    padding-bottom: 15px;
}
/* resume section style end */